
services:
  db:
    image: mysql:8.0
    container_name: atec_secretaria_DB
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: atec_secretaria
      MYSQL_USER: tpsi_user
      MYSQL_PASSWORD: tpsi_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - "./Base de Dados/atec-secretaria-db.sql:/docker-entrypoint-initdb.d/init.sql"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: node_backend
    restart: always
    ports:
      - "3001:3001"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file: .env
    environment:
      DB_HOST: db
      REDIS_URL: redis://redis:6379
    depends_on:
      - db
      - redis

  redis:
    image: redis:alpine
    container_name: cache_redis
    restart: always
    ports:
      - "6379:6379"

  frontend:

    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: vite_frontend
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      VITE_API_URL: http://localhost:3001
    depends_on:
      - backend

volumes:
  db_data:
